<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/views/estilo.css">
</head>

<body>

    <header>
        <h2>Cadastrar</h2>
    </header>

    <section>
        <form action="/show" method="POST">
            <input type="text" placeholder="Nome" name="name">
            <input type="text" placeholder="Sobrenome" name="surname">
            <button type="submit">submit</button>

        </form>
        <form action="/show" method="GET">
            <br><button type="submit">Verificar registros</button>

        </form>
    </section>
    <footer>
        <p>&copy; AdDev</p>
    </footer>
    <script src="script.js"></script>

</body>

</html>